
#leftParameters {
    width: 30%;
}

#leftParameters > p {
    padding: 10px;
    font-size: 20px;
}

#leftParameters > p:hover {
    background-color: #f1f2f3;
}

.angleRight {
    position: absolute;
    left: 37%;
}