.image-user-session {
    background-color: #AAAAAA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.Disconnection {
    position: fixed;
    bottom: 0;
    left: 7%;
    font-size: 20px;
}

.Disconnection > div > p:first-child {
    font-size: 22px;
}

p {
    margin: 0;
}

.pseudo-2 {
    font-size: 18px;
    color: #bdbdbd;
}

.pad-10-20 {
    padding:  10px 20px;
}

@media screen and (max-width: 970px) {
    .Disconnection {
        background-color: #f1f2f3;
        padding: 5px;
        border-radius: 15px;
        bottom: 10%;
    }
}

@media screen and (max-width: 740px) {
    .Disconnection {
        display: none;
    }
}