
#leftParameters {
    width: 30%;
}

#leftParameters > a {
    padding: 10px;
    font-size: 20px;
}

#leftParameters > a:hover {
    background-color: #f1f2f3;
}

.angleRight {
    position: absolute;
    left: 37%;
}

#rightParameters {
    width: 70%;
    height: 100%;
    border-left: 4px solid #f1f2f3;
    padding: 20px;
}

#rightParameters > input {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f1f2f3;
    width: 80%;
    margin: 20px auto;
}